{% extends "base.html" %}
{% load static %}
{% block content %}
<br/><br/><br/><br/><br/><br/><br/>
      <div class="container m-10 " style="background-color: rgba(255, 255, 255, 0.6); ">
        <i class="fa-solid fa-people-group fa-lg mt-3" style="color: rgba(113, 196, 116, 0.5); float: right;"></i>
        <div class="m-20" style="margin-top: 4%;">
          
          <div class=" mb-4">
            
        <h3 class="text-center mb-4"><strong>We are Minute 2 Visit</strong></h3>
      </div>
      <div class="container m-10 mb-4">

        <p class="text-center "><i>Welcome to  Minute 2 Visit, your trusted partner for unforgettable experiences in the Sultanate of Oman. Established with a passion for showcasing the rich cultural heritage, natural beauty, and warm hospitality of Oman, we take pride in curating immersive journeys that leave lasting memories.
          
          At Minute 2 Visit, we believe that travel has the power to transform lives and create lasting connections. Whether you're a solo traveler, a family, or a group of adventurers, let us be your gateway to Oman's treasures. Join us on a journey of discovery and embrace the beauty, culture, and warmth of Oman like never before. Contact us today, and let's start planning your next adventure in the heart of Arabia.
        </i></p>
        <i class="fa-solid fa-people-group fa-2xl" style="color: rgba(113, 196, 116, 0.5); float: left;"></i>
       
       
      </div>
      
      </div>
      
      </div>
      <br/>
      <div class=" container m-10 " style="background-color:rgba(255, 255, 255, 0.6);"  >
        <i class="fa-solid fa-mountain-sun fa-lg mt-3" style="color: rgba(113, 196, 116, 0.5); float: left;"></i>
        <div class="m-20" style="margin-top: 4%; ">
          <div class=" mb-4">
          <h3 class="text-center mb-4"><strong>Our Vision</strong></h3>
        </div>
        <div class="container m-10 mb-4">
       
          <p class="text-center "><i>At  Minute 2 Visit, our vision is to be the premier DMC in Oman, known for delivering exceptional travel experiences that connect travelers with the heart and soul of this enchanting country. We aim to be a symbol of excellence, a go-to resource for discovering Oman's hidden gems, and a provider of top-notch services that exceed expectations.</i></p>
          <i class="fa-solid fa-mountain-sun fa-2xl" style="color: rgba(113, 196, 116, 0.5); float: right;"></i>
        
       
        </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="m-5">
        <div class="mb-4">
          <h3 class="text-center mb-4"><strong>Why Choose Us?</strong></h3>
        </div>
        <br>
        <div class="row justify-content-center"> <!-- Center the cards -->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card shadow text-center" style="width: 18rem; height: 17.5rem; border: none; background-color: rgba(255, 255, 255, 0.6);">
            
                <i class="fa-regular fa-location-dot fa-2x my-2"></i>
           
              <div class="card-body">
                <h4 class="card-title">Local Expertise:</h4>
                <p class="card-text" style="font-weight: normal;">Our team of experienced professionals is deeply rooted in Oman, with an intimate knowledge of its diverse regions, customs, and traditions. We'll take you off the beaten path to uncover the true essence of Oman.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card shadow text-center" style="width: 18rem; height: 17.5rem; border: none; background-color: rgba(255, 255, 255, 0.6);">
             
                <i class="fas fa-cogs fa-2x my-2"></i>
          
              <div class="card-body">
                <h4 class="card-title">Tailored Experiences:</h4>
                <p class="card-text" style="font-weight: normal;">We understand that every traveler is unique. That's why we craft personalized itineraries, ensuring your journey is precisely tailored to your interests, preferences, and budget.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card shadow text-center" style="width: 18rem; height: 17.5rem; border: none; background-color: rgba(255, 255, 255, 0.6);">
              
                <i class="fas fa-leaf fa-2x my-2"></i>
       
              <div class="card-body">
                <h4 class="card-title">Sustainability:</h4>
                <p class="card-text" style="font-weight: normal;">We are committed to responsible and sustainable tourism practices. We work closely with local communities and conservation efforts to preserve Oman's natural beauty for generations to come.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card shadow text-center" style="width: 18rem; height: 17.5rem; border: none; background-color: rgba(255, 255, 255, 0.6);">
            
                <i class="fas fa-hands-helping fa-2x my-2"></i>
              
              <div class="card-body">
                <h4 class="card-title">Exceptional Service:</h4>
                <p class="card-text" style="font-weight: normal;">Your comfort and satisfaction are our top priorities. From seamless logistics to attentive guides, we go above and beyond to make your trip unforgettable.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

   
    <div class="container-fluid" ">
      <div class="m-20" style="margin-top: 5%; margin-bottom: 5%; margin-left:auto;
      margin-right:auto; width: 400px;">
        <div class="mb-4">
          <h3 class="text-center mb-4 section-title"><strong>Our Services</strong></h3>
        </div>

        <div class="img-text-container text-center" style="position: relative;
        width: 100%;
        height: 309px;
      
        text-align: center;">
          <img class="image-text" style="max-width: 100%; 
          max-height: 100%; 
          vertical-align: middle;" src="{% static 'images/im11.jpg' %}" alt="Your Image">
          <div  class="overlay" style="    position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
          padding: 10px;
           height: 240px;
            max-width: 380px;
            min-width: 380px;
          text-align: center;">
            <h4>1. <br/>Tours and Excursions:</h4>
            <br/>
            <p  style="font-weight: normal;">   Explore Oman's diverse landscapes, from the mesmerizing deserts to the lush mountains and pristine coastline.</p>
            </div>
          </div>
        
          <br/>
        <div class="img-text-container" style="position: relative;
        width: 100%;
        height: 309px;
        
        text-align: center;">
           <img class="image-text" style="max-width: 100%; 
           max-height: 100%; 
           vertical-align: middle;" src="{% static 'images/img1.jpg' %}" alt="Your Image">
           <div class="overlay" style="    position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
           padding: 10px;
           height:240px;
            max-width: 380px;
            min-width: 380px;
           text-align: center;">
            <h4>2. <br/>Cultural Experiences:</h4>
            <br/>
            <p  style="font-weight: normal;">Immerse yourself in Omani traditions through encounters with local artisans, visits to historical sites, and authentic culinary adventures.</p>
            </div>
          </div>
          <br/>
          <div class="img-text-container" style="position: relative;
          width: 100%;
          height: 309px;
          
          text-align: center;">
             <img class="image-text" style="max-width: 100%; 
             max-height: 100%; 
             vertical-align: middle;" src="{% static 'images/img6.jpg' %}" alt="Your Image">
             <div class="overlay" style="    position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             background-color: rgba(255, 255, 255, 0.8); 
             padding: 10px;
             height: 240px;
              max-width: 380px;
              min-width: 380px;
             text-align: center;">
            <h4>3. <br/>Adventure Activities:</h4>
            <br/>
            <p  style="font-weight: normal;">   Embark on thrilling adventures such as desert safaris, trekking, and watersports, all under the guidance of experienced professionals.</p>
            </div>
          </div>
          <br/>
          <div class="img-text-container" style="position: relative;
          width: 100%;
          height: 309px;
          
          text-align: center;">
             <img class="image-text" style="max-width: 100%; 
             max-height: 100%; 
             vertical-align: middle;" src="{% static 'images/img8.jpg' %}" alt="Your Image">
             <div class="overlay" style="    position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             background-color: rgba(255, 255, 255, 0.8); 
             padding: 10px;
             height: 240px;
              max-width: 380px;
              min-width: 380px;
             text-align: center;">
            <h4>4. <br/>Luxury Travel:</h4>
            <br/>
            <p  style="font-weight: normal;">  Indulge in the finer things in life with our luxury travel packages, offering exclusive accommodations and personalized services.</p>
            </div>
          </div>
            <br/>
            <div class="img-text-container" style="position: relative;
          width: 100%;
          height: 309px;
          
          text-align: center;">
             <img class="image-text" style="max-width: 100%; 
             max-height: 100%; 
             vertical-align: middle;" src="{% static 'images/img5.jpg' %}" alt="Your Image">
             <div class="overlay" style="    position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             background-color: rgba(255, 255, 255, 0.8); 
             padding: 10px;
             height: 240px;
              max-width: 380px;
              min-width: 380px;
             text-align: center;">
            <h4>5. <br/>Corporate and Incentive Travel:</h4>
            <br/>
            <p  style="font-weight: normal;">   We specialize in organizing corporate events, meetings, and incentive trips that combine business objectives with memorable experiences.</p>
            </div>
          </div>
            <br/>
       


      </div>
    </div>
     
     

{% endblock content %}