{% extends "base.html" %}
{% load static %}
{% block content %}


  <br/><br/><br/><br/><br/><br/>
  <div class="container">
    <div class="row m-5">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="slides " >
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/img1.jpg' %}" style="height: 311px;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Visit Muscat</h5>
                  <p>best place too relax.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/img5.jpg' %}" style="height: 311px;"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Visit Muscat</h5>
                  <p>best place too relax.</p>
                </div>
              </div>
              <div class="carousel-item ">
                <img src="{% static 'images/img3.jpg' %}" style="height: 311px;"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Visit Muscat</h5>
                  <p>best place too relax.</p>
                </div>
              </div>
    
    
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-5 order-0 order-lg-1">
        <h1 class="change-font">Minute 2 Visit</h1>
        <br/>
        <p>A company that is based in the wonderful Sultanate of Oman. We take immense pride in offering you an unparalleled experience that guarantees the best of times in this beautiful country. Having immersed ourselves in the magic of Oman, we are eager to share its wonders with you.</p>
        <br/><br/><br class="d-none d-sm-block"/>
        <a href="{% url 'about_us' %}">
          <button type="button" style="width: 100%;" class="btn btn-primary btn-block  "><i class="fas fa-info-circle"></i> Know More!</button>
        </a>
      </div>
    </div>
  </div>
  

<div class="container text-center "  >
<div class="weather-container card border-0 shadow p-2 m-2"  style="background: transparent; padding: 40px;">
<h4>What's the weather like in Oman?</h4>
<br/>
<div id="weather-results">
 <div class="row">
  <div class="col-md-4">
    <img width="100px"  src="http://openweathermap.org/img/w/{{icon}}.png" alt="Weather Icon">
   
  </div>
  <div class="col-md-4">
    <h5>{{temperature}} °C</h5>
   </div>
   <div class="col-md-4">
    <h5>{{description}} </h5>
   </div>
 </div>
</div>
<br/>

<form method="post" id="weather-form" class="row g-3 justify-content-center">
  {% csrf_token %}

<div class="row">
  <div class="col-md-7 mb-2">
  {{ weather_form.city}}</div> 
  <div class="col-md-5 mb-2">
  <button type="submit" class="btn btn-primary " style="width: 100%;" >Select</button></div>
</div>
</form>

<br/>
</div>
<br/>
</div>

{% block javascript %}
<script>

var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleCaptions'), {
        interval: 5000, // Set the time between slide transitions (in milliseconds)
        wrap: true,     // Whether the carousel should loop continuously
        // Add any other options or event handlers as needed
    });
    $(document).ready(function() {
    $("#weather-form").submit(function(event) {
      console.log("Form submitted via AJAX");
      event.preventDefault(); // Prevent the default form submission

      var formData = $(this).serialize(); // Serialize the form data

      $.ajax({
        type: "POST",
        url: "{% url 'home' %}", // Replace with the actual URL of your Django view
        data: formData,
        success: function(data) {
          // Update the weather-results div with the response from the server
          $("#weather-results").html( '<div class="row"><div class="col-md-4"><img src="http://openweathermap.org/img/w/'+ data.icon+ '.png" alt="Weather Icon"></div><div class="col-md-4"><h4>'+ data.temperature+ '°C</h4></div><div class="col-md-4"><h4>'+data.description+ ' </h4></div></div>');},
        error: function (xhr, status, error) {
        console.log("AJAX Error:", error);
       }
      });
    });
  });
</script>
{% endblock javascript %}
 

{% endblock content %}


