{% extends "base.html" %}
{% load static %}
{% load truncate_words %}
{% block content %}




<div class="services-container mb-4" >
  <div class="service-description" >
    <h4>{{tour.title}} </h4>
    <p>
    <span class="initial-text">

    <i>{{tour.description|truncate_words:70}} </i>
  </span>
  <span class="additional-text hidden">
    <i>{{tour.description|remaining_words:70}} </i>
  </span>
</p>
  <a href="#" class="read-more text-muted">...Read More</a>
  </div>

  <br/>
  <div ><h4>Program Itinerary</h4></div>
  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Day Order</th>
      
        <th scope="col" >Description</th>
      
      </tr>
    </thead>
    <tbody>
      {% for day in tour.days.all %}
      <tr>
        <th scope="row">Day {{day.number_order}}</th>
     
        <td >
         <b class="text-center">{{day.title}}</b><br/>
          {{day.description}}<br/>
          <img src="{{ day.picture.url }}"  style="object-fit: cover;  height: 100%;" width="200" >
        </td>
       
      </tr>
      {% endfor %}
    </tbody> -->

    <div class="accordion" id="accordionPanelsStayOpenExample">
      {% for day in tour.days.all %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#day-{{day.number_order}}" aria-expanded="false" aria-controls="day-{{day.number_order}}">
            <b>Day {{day.number_order}}:</b> <span class="ms-2">{{day.title}}</span>
          </button>
        </h2>
        <div id="day-{{day.number_order}}" style="min-height: 170px;" class="accordion-collapse collapse" aria-labelledby="heading-{{day.number_order}}" data-bs-parent="#accordionPanelsStayOpenExample">
          <div class="accordion-body">
            <img src="{{ day.picture.url }}" style="object-fit: cover; float: right; height: 100%;" width="200">
            {{day.description}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </table>
  <br id="pricings" />
  <br/>
  <h4 >Pricings</h4>
  <br/>
  <table class="table  table-bordered">
    <thead>
      <tr class="table-active">
        <th scope="col">Pax</th>

        <th scope="col"> 2 - 4 </th>
        <th scope="col"> 5 - 9 </th>
        <th scope="col"> 10 - 15 </th>
        <th scope="col"> 16 - 20 </th>
      </tr>
    </thead>
    <tbody>
      
      <tr >
        <th scope="row">Price per person (OMR) </th>
       
        <td>{{tour.price_of_2_to_4}}</td>
        <td>{{tour.price_of_5_to_9}}</td>
        <td>{{tour.price_of_10_to_15}}</td>
        <td>{{tour.price_of_16_to_20}}</td>

      </tr>
   
    </tbody>
  </table>
  <small>* For the price in USD multiply by exchange rate 1 USD = 3.8 OMR</small>
  <br/>
  <small>**for the price in GBP use the exchange rate 1 GBP = 0.49 OMR</small>
  <br/>
  <br/><br/>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5>  Included services:</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            {% for item in included %}
            <li class="list-group-item"><i class="fa-solid fa-arrow-right-long" style="color: #2868d7;" class="mr-2"></i><span class="p-2">{{item.title}}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5>    Excluded Services:</h5>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            {% for item in excluded %}
            <li class="list-group-item"><i class="fa-solid fa-arrow-right-long" style="color: #2868d7;" class="mr-2"></i><span class="p-2">{{item.title}}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5>  Terms and Conditions: </h5>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            {% for item in terms_and_conditions %}
            <li class="list-group-item"><i class="fa-solid fa-arrow-right-long" style="color: #2868d7;" class="mr-2"></i><span class="p-2">{{item.title}}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>  <br/>
  

<div class="form-container-booking">
  <h3 class="mb-2">Book the Tour</h3>

  <p class="mb-2">Submit a booking request along with your details, and we will promptly get in touch with you to finalize the booking process.  </p>

  <!-- {% if messages %}
  {% for message in messages %}
     {% if message.tags == "success" %}
  <div class="alert alert-info" role="alert" role="alert">
{{message}} <button type="button" style="float: right;" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<br/>
<br/>
     {% endif %}
     {%endfor%}
     {% else %}
     <br/>  <br/>
     {% endif %} -->
<span id="success-message"></span>
     
  
 <div class="form-box-booking ">
  <form method="post" id="booking-form" class="row g-3">
      {% csrf_token %}


      <!-- {{ booking_form.as_p}} -->
      {%if booking_form.non_field_errors%}
      <div class="alert alert-danger" role="alert">  {{ booking_form.non_field_errors }}</div>
      {%endif%}
      <div class="row mb-4">
<div class="col-md-6">
  {%if booking_form.first_name.errors%}
  <div class="alert alert-danger" role="alert"> {{ booking_form.first_name.errors }}</div>
  {%endif%}
    <label for="{{ booking_form.first_name.id_for_label }}"  class="form-label">First Name</label>
    {{ booking_form.first_name }}
</div>

<div class="col-md-6">
  {%if booking_form.last_name.errors%}
  <div class="alert alert-danger" role="alert"> {{ booking_form.last_name.errors }}</div>
  {%endif%}
  <label for="{{ booking_form.last_name.id_for_label }}"  class="form-label">Last Name</label>
  {{ booking_form.last_name }}
</div>
</div>
<div class="row  mb-4">
<div class="col-md-6">
  {%if booking_form.phone_number.errors%}
  <div class="alert alert-danger" role="alert"> {{ booking_form.phone_number.errors }}</div>
  {%endif%}
    <label for="{{ booking_form.phone_number.id_for_label }}"  class="form-label">Phone Number</label>
    {{ booking_form.phone_number }}
</div>
<div class="col-md-6">
  {%if booking_form.email.errors%}
  <div class="alert alert-danger" role="alert"> {{ booking_form.email.errors }}</div>
  {%endif%}
  <label for="{{ booking_form.email.id_for_label }}"  class="form-label">Email Address</label>
  {{ booking_form.email }}
</div>
</div>
<div class="row  mb-4">
 

<div class="col-md-6">
  {%if booking_form.notes.errors%}
  <div class="alert alert-danger" role="alert"> {{ booking_form.notes.errors }}</div>
  {%endif%}
  <label for="{{ booking_form.notes.id_for_label }}"  class="form-label">Notes</label>
  {{ booking_form.notes }}

</div>
<div class="col-md-6">
  {%if booking_form.num_pax.errors%}
  <div class="alert alert-danger" role="alert"> {{ booking_form.num_pax.errors }}</div>
  {%endif%}
  <label for="{{ booking_form.num_pax.id_for_label }}"  class="form-label">Number of Pax <small ><a href="#pricings" >See above for detailes</a></small></label>
  {{ booking_form.num_pax }}
 
</div>
</div>
<div class="row  mb-12 " >
  
  
  <button type="submit" id="book-button" class="btn btn-primary">Book Now</button>

  <!-- Loading spinner (hidden by default) -->
  <button id="loading-button" class="btn btn-primary" type="button" style="display: none;" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
    <span  role="status">Loading...</span>
  </button>
    
      
</div>
  </form>
</div>
</div>
</div>
{% block javascript %}
<script>

    $(document).ready(function() {
    $("#booking-form").submit(function(event) {
      console.log("Form submitted via AJAX");
      event.preventDefault(); // Prevent the default form submission
      $("#book-button").hide();
        $("#loading-button").show();
      var formData = $(this).serialize(); // Serialize the form data

      $.ajax({
        type: "POST",
        url: "{% url 'service' tour.id %}", // Replace with the actual URL of your Django view
        data: formData,
        success: function(data) {
          // Update the weather-results div with the response from the server
         
     
          console.log("Success message:", data.message);
// Show the success message
          $("#success-message").html('<div class="alert alert-info d-flex justify-content-between align-items-center" role="alert" ><span>'+data.message+'</span><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');

},// 5000 milliseconds (5 seconds)
        error: function (xhr, status, error) {
        console.log("AJAX Error:", error);
       },
       complete: function() {
                // Hide the loading button and show the "Book Now" button when the request is complete
                $("#book-button").show();
                $("#loading-button").hide();
                
                // Clear the form (you can do this here or in other logic)
                $("#booking-form").trigger('reset');
            }
      });
    });
  });

  $(document).ready(function() {
    $(".read-more").click(function(e) {
        e.preventDefault();
        
        $(".additional-text").toggleClass("hidden");
        if ($(".additional-text").hasClass("hidden")) {
          console.log('hhhhhhh')
            $(this).text("...Read More");
        } else {
            $(this).text("...Read Less");
        }
    });
});
</script>
{% endblock javascript %}
{% endblock content %}